@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: inherit;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  @apply bg-neutral-900 text-neutral-100 bg-[url('../src/assets/images/blur-mobile.png')] bg-no-repeat bg-bottom sm:bg-[url('../src/assets/images/blur-1.png')] sm:bg-[position:bottom_left] lg:bg-[url('../src/assets/images/blur-1.png'),_url('../src/assets/images/blur-2.png')] lg:bg-[position:bottom_left,_top_right];
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}
